*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
}
.header_wrapper{
    width: 100%;
    max-width: 100vw;
    padding: 20px;
}
.header_wrapper img{
    max-height: 50px;
}
section{
    min-height: 80vh;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}